body {
  font-family: "Poppins", sans-serif;
}
.mission-colour {
  color: lightsalmon;
  margin: 0;
}

section {
  width: 80%;
  margin: auto;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.half-with1 p {
  width: 471px;
}

.half-with1 img {
  width: 365.06px;
  height: 365.06px;
}

.explore-bottom {
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
}

.line-left {
  width: 3.97px;
  height: 100px;

  background: #ff5959;
  border-radius: 5px;
}
.title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.title h1 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}

.illus {
  width: 141px;
  height: 141px;
}

.cards {
  display: flex;
  gap: 20px;
}

.left {
  background: rgba(79, 157, 166, 0.1);
  border-radius: 26px;
  padding: 25px 24px;
}

.middle {
  background: rgba(255, 89, 89, 0.1);
  border-radius: 26px;
  padding: 25px 24px;
}

.right {
  background: #fff4d6;
  border-radius: 26px;
  padding: 25px 24px;
}

.my-mission h1 {
  text-align: center;
  margin-top: 70px;
}

.scroll-text {
  margin-top: 35px;
}

.img-size {
  width: 400px;
  height: 400px;
  border-radius: 26px;
}

.develop-limits,
.global-community {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global-txt {
  width: 621px;
}

.develop-txt {
  width: 621px;
}

.trd-sec {
  margin-top: 84px;
}

.read-doc-botton {
  text-decoration: none;
  background-color: #ff5959;
  padding: 10px 15px;
  border-radius: 5px;
  color: black;
}

footer {
  color: white;
  height: 177px;
  width: 100%;
  background: #0b0d17;
  text-align: center;
  margin-top: 80px;
}
span {
  color: #ff5959;
}

.footer-text {
  padding-top: 30px;

  font-family: Lobster;
}

.shape-1 {
  width: 227px;
  height: 227px;
  position: absolute;
  left: -115px;
  z-index: -99;
  top: 30px;
}

.dot {
  position: absolute;
  left: -200%;
}

.develop-img,
.global-img {
  position: relative;
}

.shape-2 {
  width: 227px;
  height: 227px;
  position: absolute;
  right: -100px;
  bottom: -60px;
  z-index: -99;
}


.covid{

display: flex;
justify-content: space-between;
align-items: center;
margin-top: 50px;

}
.covid-img1{

 width: 400px;
 height: 400px;
 


}


.covid-txt{

width: 500px;

}

.social-d{

text-align: center;

}

.colour-dis{

    color: coral;
}

.social-d{


    margin-top: 80px;
}